a {
  color: #ade;
}
.formResponsive .policy_field label {
    width: 90%;    
}
.plg_system_eprivacy_module .plg_system_eprivacy_message button.plg_system_eprivacy_declined {
color:#fff;
background-color:#f00;
}
.plg_system_eprivacy_module div.plg_system_eprivacy_accepted,
.plg_system_eprivacy_module div.plg_system_eprivacy_declined {
overflow:hidden;
border: 1px solid #ccc;
color: #999;
vertical-align:middle;

padding:5px;
}
.plg_system_eprivacy_module div.plg_system_eprivacy_accepted button,

.plg_system_eprivacy_module div.plg_system_eprivacy_declined button {
float:right;
}
.activebar-container { background-color: #034595; color: #fff; z-index: 10000 !important; padding:0px 10px; }
